@use "./variables"as *;
@use "./mixins"as *;

// global styles
body {
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    background: #cf3030;

    main {
        width: 100%;
        height: 100%;
        overflow: auto;
    }
}

// general container
.container {
    @include container;
}