@use "./variables"as *;

// global styles
body {
    font-family: Helvetica, Arial, sans-serif;
    background: #cf3030;

    main {
        width: 100%;
        height: 100%;
        overflow: auto;
    }
}

// general container
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}