@use './variables'as *; // Adjust path as needed

// General container
@mixin container {
    width: 100%;
    height: 100%;
    max-width: 1440px;
    padding: 0 20px;
    margin: 0 auto;
}

// Primary Button
@mixin primary-btn {
    background-color: $primary-color;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
        background-color: darken($primary-color, 10%);
    }
}