.navigation {
    background: #f2f2f2;

    &__inner {
        background: blue;
        display: flex;
        justify-content: space-between;

        &__logo {
            display: flex;
            justify-content: center;
            align-items: center;

            a {
                display: block;
                padding: 20px;

                h1 {
                    font-size: 48px;
                    letter-spacing: -2px;
                    line-height: 48px;
                }

                p {
                    font-size: 1rem;
                    color: #666;
                    margin-top: 5px;
                    letter-spacing: -1px;
                }
            }
        }

        &__links {
            border: 4px solid red;

            ul {
                display: flex;
                list-style: none;
                margin: 0;
                padding: 0;

                li {
                    position: relative;

                    a {
                        text-decoration: none;
                        font-size: 24px;
                        transition: color 0.2s;
                        letter-spacing: -1px;
                        display: inline-block;
                        padding: 20px;
                        color: #808080;

                        &:hover {
                            color: #000;
                        }

                        &.active {
                            color: #000;
                        }
                    }
                }
            }
        }
    }
}